[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	h = log --pretty=format:\"%Cgreen%h %ad%Creset %s%Cgreen%d%Creset [%an]\" --graph --date=short
	ha = log --pretty=format:\"%Cgreen%h %ad%Creset %s%Cgreen%d%Creset [%an]\" --graph --date=short --all

[core]
	excludesFile = ~/.gitignore
	autocrlf = input
[push]
	default = current
	autoSetupRemote = true
[pull]
	ff = only
[gpg]
	format = ssh
[commit]
	gpgsign = true
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
